<template>
  <div>
    <h4>{{mode=='add'? 'Add':(mode=='edit'? 'Edit':'')}} Todo:</h4>
    <div class="form-group">
      <FieldLable :text="'Todo Title'" />
      <input type="text" name="todo" id="todo" v-model="TODO.title" />
      <input
        type="button"
        class="btn btn-primary mx-3"
        :value="mode=='add'? 'Add':(mode=='edit'? 'Update':'')"
        @click="submit_todo()"
      />
    </div>
  </div>
</template>

<script>
import FieldLable from "./ui/FieldLable";

import { mapGetters } from "vuex";
import { mapActions } from "vuex";

export default {
  name: "todo-form",
  components: {
    FieldLable
  },
  data() {
    return {
      local_todo : this.TODO
    };
  },
  props: {
    mode: {
      type: String
    }
  },
  computed: {
    ...mapGetters(["TODO"])
  },
  methods: {
    ...mapActions(["ADD_TODO", "UPDATE_TODO"]),

    submit_todo() {
      if (this.mode == "add") {
        if (this.TODO.title == "") {
          alert("Please add a title");
        } else {
          this.ADD_TODO({
            title: this.TODO.title,
            status: this.TODO.status
          });
          this.TODO.title = "";
        }
      } else if (this.mode == "edit") {
        this.UPDATE_TODO({
          title: this.TODO.title,
          status: this.TODO.status
        });
      }
    }
  }
};
</script>

<style lang="css">
.form-group {
  display: flex;
}
</style>