<template>
  <div class="container">
    <div class="row m-5">
      <div class="col-6 text-left">
        <h2>Simple Demo Todo App 2</h2>
      </div>
    </div>
    <div class="row m-5">
      <div class="col-6 text-left">
        <TodoForm :mode="'add'" />
      </div>
    </div>
    <div class="row m-5">
      <div class="col-12 text-left">
        <h4>Todo list :</h4>
        <ol>
          <TodoListItem :item="todo" v-for="(todo, index) in TODOS" :key="index" />
        </ol>
      </div>
    </div>
    <TodoEditModal />
  </div>
</template>

<script>
import TodoEditModal from "./TodoEditModal";
import TodoListItem from "./TodoListItem";
import TodoForm from "./TodoForm";

import {mapGetters} from 'vuex'

export default {
  name: "todo",
  components: {
    TodoListItem,
    TodoForm,
    TodoEditModal
  },
  computed: {
    ...mapGetters(['TODOS']),
  }
};
</script>

<style scoped>
h4 {
  margin: 40px 0 0;
}
ol {
  text-align: left;
}
li {
  padding: 5px;
  margin: 5px 10px;
}
a {
  color: #42b983;
}
</style>
