<template>
  <li>
    <div class="row">
      <div class="col-4">
        <b>{{ item.id }} - {{ item.title }}</b>
      </div>
      <div class="col-2">- {{ item.status }}</div>
      <div class="col-6">
        <button
          type="button"
          class="btn btn-primary mx-3"
          :disabled="item.status=='Done'"
          data-toggle="modal"
          data-target="#editModal"
          @click.prevent="edit_todo(item)"
        >Edit</button>
        <button type="button" class="btn btn-danger" @click="delete_todo(item.id)">X</button>
        <button
          type="button"
          class="btn btn-success mx-3"
          v-if="item.status=='Pending'"
          @click="mark_as_done(item.id)"
        >Done</button>
      </div>
    </div>
  </li>
</template>
<script>

import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  name: "todo-item-list",
  props: {
    item: Object
  },
  methods: {
    ...mapActions(["MARK_AS_DONE", "DELETE_TODO","SET_TODO"]),

    mark_as_done(id) {
      this.MARK_AS_DONE(id);
    },
    delete_todo(id) {
      this.DELETE_TODO(id);
    },
    edit_todo(item) {
      this.SET_TODO(item.id);
    }
  }
};
</script>
